<div class="content__page">
  <div class="container">
    <div class="content__page__all">
      <div class="content__page__movie">
        {{#each titles}}
        <table class="tablemovie">
          <th></th>
          <th></th>

          <tr>
            <td>
              <h1>{{title}}, Оценка: {{rating}}</h1>
            </td>
          </tr>
          <tr>
            <td>
              <h2>{{studio}}</h2>
            </td>
          </tr>
          <tr>
            <td>
              <h3>{{status}}</h3>
            </td>
          </tr>
          <tr>
            <td>
              <p>{{series}}</p>
            </td>
          </tr>

        </table>
        <img id="daicon" src="{{image_path}}" alt="">
        {{/each}}
      </div>
    </div>
  </div>
</div>